<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BulletMLLib" version="1.0.4" targetFramework="net452" />
  <package id="Equationator" version="1.0.4" targetFramework="net452" />
  <package id="FilenameBuddy" version="1.0.3" targetFramework="net452" />
  <package id="FontBuddy" version="1.0.8" targetFramework="net452" />
  <package id="GameTimer" version="1.0.1" targetFramework="net452" />
  <package id="HadoukInput" version="1.0.2" targetFramework="net452" />
  <package id="MatrixExtensions" version="1.0.1" targetFramework="net452" />
  <package id="MonoGame.Framework.DesktopGL" version="3.5.1.1679" targetFramework="net452" />
  <package id="RandomExtensions.dmanning23" version="1.0.2" targetFramework="net452" />
  <package id="Vector2Extensions" version="1.0.1" targetFramework="net452" />
  <package id="XmlBuddy" version="1.0.6" targetFramework="net452" />
</packages>